<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geo Location App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [disableDefaultUI]="false">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]=true></agm-marker>
  </agm-map>
  <ion-row>
    <ion-col>Latitude: {{lat}}</ion-col>
    <ion-col>Longitude: {{lng}}</ion-col>
  </ion-row>


  <ion-button type="submit" expand="full" color="primary" (click)="getItem()">
    Save My Location
  </ion-button>
    <ion-list>
    <ion-list-header>
      Saved Places
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data;">
      <ion-label>
        <h5>Time: {{data.time}}</h5>
        <h5>Longitude: {{data.lng}}</h5>
        <h5>Latitude: {{data.lat}}</h5>
      </ion-label>
      <div class="item-note" item-end>      
        <ion-icon name="trash" style="zoom:2.0" (click)="deletePlace(data.time)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>


